.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        test
      %ul.main-header__left-box__memder-list
        Member :
        %li.main-header__left-box__memder-list__memder
          xxx
    = link_to "#", class:"edit-btn" do
      .edit-btn
        Edit

  .messages
    .message
      .message__upper-info
        %p.message__upper-info__user
          shige
        %p.message__upper-info__date
          2020/01/01
      %p.message__text
        昔々、あるところに・・・

  .form
    %form
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon("fas", "image")
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}